html{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 5fr 2fr;
}

header{
    background-image: url(https://gridbyexample.com/img/inflicted.png);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
}

button{
    width: 11rem;
    height: 1.7rem;
    justify-self: end;
    margin-right: 1.2rem;
    margin-top: 1.3rem;
    background-color: black;
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    display: grid;
    grid-template-columns: 0.5fr 3fr;
    grid-template-rows: 1fr;
    padding-inline: 0;
}

button:hover{
    background-color: #333;
}

main{
    background-color: aliceblue;
}

footer{
    background-color: aqua;
}

i{
    color: white;
    padding: 0.2rem;
    padding-left: 0.6rem;
    font-size: 1.2rem;
    margin-left: 0;
}

button a{
    color: white;
    justify-self: start;
    align-self: center;
    margin: 0;
    padding-left: 0.2rem;
    text-decoration: none;
}

.header-text{
    justify-self: start;
    align-self: center;
    margin-left: 10rem;
    margin-top: 2.5rem;
}

.header-text a{
    color: white;
    text-decoration: none;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 700;
}

.header-text p{
    color: white;
    font-size: 16px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.navbar-links{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-inline: 12rem;
    padding-left: 0;
    height: 100%;
    margin-block: 0;
}

nav{
    border-bottom: 1px solid #222;
    background-color: rgba(255, 255, 255, 0.6);
    height: 3rem;
}

.navbar-links li a{
    text-decoration: none;
    color: black;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    justify-self: center;
    align-self: center;
    padding: 8px 32px;
}

.navbar-links li:hover{
    background-color: rgb(255, 255, 255);
}


.navbar-links li{
    display: flex;
}



